# Ignore environment variables and secrets
.env
*.key

# Ignore the database file
db.sqlite3

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment
venv/

# Ignore compiled Python files
*.pyc
*.pyo
*.pyd

# Ignore Django migrations cache
**/migrations/*.pyc
**/migrations/__pycache__/

# Ignore logs and temporary files
*.log
*.tmp
